body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: antiquewhite;
    border-style: solid;
    padding: 64px 24px 64px 24px;
    max-width: 640px;
    justify-content: center;
    align-items: center;

}

.playerButtons,
.computerButton {
    display: flex;
    gap: 24px;
}

button {
    width: 80px;
    height: 48px;
}

.titleText {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 52px;
}